.banner {
    //use mixin
    @include bgImg(url(../imgs/hero-img.jpg));

    .content-wrapping {
        padding: 51px 0 45px 0;
        margin-left: 0;

        @media #{$minMed} {
            margin-left: 75px;
            padding: 13.45vh 0 13.45vh 0;
        }

        .content {
            display: inline-block;
            margin-left: 0;
            text-align: center;

            @media #{$minMed} {
                margin-left: 3%;
            }


            .img-container {
                width: 95%;
                height: 152px;
                margin: auto;

                img {
                    margin: auto;

                }

                @media #{$minMed} {
                    width: 369px;
                }


            }

            .desc {
                margin: 16px auto 45px;
                font-size: 16px;
                line-height: 1.5;
                color: $mainFColor;

                @media #{$minMed} {
                    font-size: 17px;
                    line-height: 1.65;
                    margin: 40px auto;


                }

                .offer {
                    font-weight: bold;
                    display: block;
                    // margin-top: 18px;
                    text-align: center;

                }
            }

            .btn {

                // width: 270px;
                // height: 64px;

                padding: 25px 35px;
                letter-spacing: 1.5px;
                color: $subFColor;
                border: 1px solid $subFColor;

                &:hover {
                    background-color: rgba($mainFColor, 1);
                    color: $mainBColor;
                    border: 1px solid rgba($mainBColor, 1);

                }
            }
        }
    }



}