.sellings {
    @include bgImg(url(../imgs/best-sellers-bg.jpg));

    .title {
        font-size: 32px;
        line-height: 1.5;
        margin-bottom: 4px;
        color: $mainFColor;
        font-family: Cochin;

        @media #{$minMed} {
            font-size: 56px;
            line-height: 1.07;
            margin-bottom: 10px;

        }

    }

    .lower-title {
        margin-bottom: 48px;

        @media #{$minMed} {
            margin-bottom: 107px;

        }

        color: $mainFColor;

        .sub-title {
            font-size: 14px;
            line-height: 1.14;
            text-transform: initial;

            @media #{$minMed} {
                font-size: 17px;
                line-height: 1.65;

            }

            //color: $mainFColor;
        }

        @import '../components/viewlink';
    }


    .card {

        .cart {

            border: 1px solid rgba($mainBColor, 1);

            &:hover {
                box-shadow: 1px 2px 15px rgba($mainBColor, .2);
                background-color: rgba($mainBColor, 1);

            }
        }

        .img-container {
            height: 148px;
            width: 71px;
            margin-top: 8px;

            @media #{$minMed} {
                height: 252px;
                width: 252px;


            }


        }

        .card-body {
            padding: .75rem 0 1rem; //update bootstrab

        }


    }
}