.buy-product {

    height: 100%;
    padding: 24px 16px 33px 16px;

    @media #{$minMed} {
        border-left: 1px solid $mainGColor;
        padding: 68px 0 68px 84.5px;
    }

    .item {
        &.quantity {
            margin-bottom: 24px;

            @media #{$minMed} {
                margin-bottom: 0;
            }
        }

        &.product-actions {
            margin-bottom: 40px;

            @media #{$minMed} {
                margin-bottom: 0;
            }
        }

        &.rate {
            margin-bottom: 36px;

            @media #{$minMed} {
                margin-bottom: 0;
            }
        }

        @media #{$minMed} {
            margin-bottom: 0;
        }

        .name {
            margin-right: 15px;

            @media #{$minMed} {}
        }
    }

    .quantity {
        .name {
            @extend %namefont;
        }

        .select-number {
            .icon {
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                transition: all .3s ease-in-out;

                &:hover {
                    top: -2px;
                    box-shadow: 1px 2px 12px rgba($mainBColor, .12);
                }
            }

            .number {
                font-size: 22px;
                font-weight: 600;
                width: 68px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba($mainGColor, .31);
                margin: 0 24px;

                @media #{$minMed} {
                    margin: 0 24px;

                }
            }
        }
    }

    .product-actions {
        .btn {
            color: $mainBColor;
            font-weight: bold;
            height: 64px;
            @include flexCenter; //
            justify-content: center; //

            &.action-buy {
                background-color: rgba($subFColor, .8);
                font-size: 18px;
                line-height: 0.89;
                letter-spacing: 1.29px;
                margin-bottom: 16px;

                &:hover {
                    background-color: rgba($subFColor, 1);
                    box-shadow: 1px 2px 15px rgba($mainBColor, .18);
                }
            }

            &.add-to-cart {
                border: 1px solid rgba($mainBColor, 1);
                color: rgba($mainBColor, 1);
                letter-spacing: 1px;

                img {
                    margin-right: 12px;
                }

                span {
                    text-transform: uppercase;
                }

                &:hover {
                    border: 1px solid rgba($subFColor, 1);
                    box-shadow: 1px 2px 15px rgba($mainBColor, .2);
                }
            }
        }
    }

    .rate {
        .name {
            @extend %namefont;
            text-transform: capitalize;
        }

        .rate-list {
            .list-item {
                margin-right: 12px;
            }
        }
    }

    .social-contact {
        .social-title {
            font-size: 14px;
            letter-spacing: .6px;
            line-height: 1.14;
            font-weight: bold;
            margin-bottom: 17px;
            text-transform: uppercase;
        }

        .social-list {
            .item {
                margin-right: 27px;

                @media #{$minMed} {
                    // margin-right: 17px;
                }
            }
        }
    }
}