.categories {
    text-align: center;

    .upper-title {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 3.33px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        @media #{$minMed} {
            font-size: 24px;
            line-height: 1.33;
            letter-spacing: 5px;


        }

        .line {
            display: inline-block;
            width: 45px;
            height: 1px;
            background-color: rgba($mainBColor, 1);

            &:first-of-type {
                margin-right: 24px;
            }

            &:last-of-type {
                margin-left: 24px;
            }
        }
    }

    .title {
        //font-family: Cochin;
        font-size: 38px;
        // font-weight: bold;
        font-style: italic;
        line-height: 1.05;
        margin-bottom: 44px;

        @media #{$minMed} {
            font-size: 56px;
            line-height: 1.07;
            margin-bottom: 60px;

        }
    }

    .category-list {
        width: 100%;
        margin: auto;
        margin-bottom: 4px;

        @media #{$minMed} {
            width: 80%;
            margin-bottom: 65px;

        }

        .list-item {
            margin: 0 25px 32px 25px;
            flex: 1 1 35%;


            @media #{$minMed} {
                margin: 10px;
                flex: 1 1 auto;



            }

            .list-link {
                img {
                    display: block;
                    margin: auto;
                    margin-bottom: 19px;
                }

                .name {
                    color: $mainBColor;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.14;
                    letter-spacing: 1px;
                }

                &:hover {
                    .name {
                        color: $subFColor;
                    }
                }
            }
        }
    }

    .btn {
        padding: 20px 43px;
        letter-spacing: 1px;
        background-color: rgba($subFColor, .8);

        @media #{$minMed} {
            padding: 24px 47px;

        }

        .text {
            text-transform: uppercase;
        }

        &:hover {

            background-color: rgba($subFColor, 1);
        }
    }
}