.logo-img {
    text-align: center;
    margin-bottom: 0;
    width: 100%;

    &.logo-footer {
        margin-bottom: 44px;

        @media #{$minMed} {
            text-align: left;
            margin-bottom: 0; //will chang

        }

        // margin-bottom: 1em;
    }
}