 #menu {
     position: fixed;
     width: 100%;
     z-index: 10000;

     .multilevelpushmenu_wrapper {

         .levelHolderClass {



             li {

                 a {

                     .icon {
                         font-size: 20px;
                     }

                 }

                 &:last-child {
                     border-bottom: 1px solid rgba($mainBColor, .6);
                 }


             }
         }
     }
 }