 #menu {
     position: fixed;
     width: 100%;
     z-index: 10000;

     .multilevelpushmenu_wrapper {

         .levelHolderClass {



             li {

                 a {

                     .icon {
                         font-size: 20px;
                     }

                     .drop-container {
                         width: 24px;
                         height: 24px;

                         img {
                             width: 100%;
                             height: 100%;
                         }
                     }

                 }

                 &:last-child {
                     //  border-bottom: 1px solid rgba($mainBColor, .6);
                 }


             }
         }
     }
 }