.quezprice-sec {
    font-weight: 600;

    &.mobile {
        padding: 20px 15px; //as container
    }

    .product-info {
        margin-bottom: 8px;
        font-weight: bold;

        @media #{$minMed} {
            margin-bottom: 12px;
        }

        .name {
            font-size: 18px;
            margin-right: 20px;
            line-height: 1.33;
        }

        .price {
            font-size: 20px;

            .price-unit {
                font-weight: normal;
            }


        }

    }

    .quiz {
        .name {
            @extend %namefont;
            color: $subFColor;
        }

        .code {
            font-size: 14px;
            // font-weight: 600;
            line-height: 1.71;

            .text {
                font-weight: normal;
            }
        }
    }

}