.product-details {
    @include bgImg(url('../imgs/product-details-bg.jpg'));

    .name {
        @extend %namefont;
        margin-bottom: 0;

        @media #{$minMed} {
            font-size: 22px;
            line-height: normal;
            margin-bottom: 6px;
        }
    }

    .desc {
        line-height: 1.75;
        width: 100%;

        @media #{$minMed} {
            width: 80%;
        }

    }


}