.related-item {

    @import './viewlink';

    .slick-slider {

        .slick-slide {
            // height: 100%;

        }

        .card {

            .cart {

                //
                @media #{$minMed} {
                    background-color: $mainBColor;


                }

                &:hover {
                    box-shadow: 1px 2px 15px rgba($mainBColor, .2);
                    background-color: rgba($mainFColor, 1);

                }
            }

            .img-container {
                width: 71px;
                height: 148px;

                @media #{$minMed} {
                    height: 256px; //
                    width: 122px; //  

                }
            }

            .card-footer {

                padding: 15px 0 33px 0;


            }
        }
    }
}