.colors-types {
    padding: 2px 15px 24px 15px;


    @media #{$minMed} {
        padding: 0;


    }

    .name {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 12px; //mobile

    }

    .arrow {
        padding: 1em;
        width: 90%;
        background-color: rgba($mainFColor, 1);
        text-align: center;
        justify-content: center;
        box-shadow: 0 40px 43px 0 rgba(0, 0, 0, 0.18);

        &.next-arrow {
            box-shadow: 0 -33px 27px 0 rgba(0, 0, 0, 0.14), 0 4px 49px 0 rgba(0, 0, 0, 0.14);
        }

    }

    .slick-list {
        overflow: hidden;
        margin: 0 -4px;

        width: calc(100% + 4px);
        /* add double the px size of slide space */

        @media #{$minMed} {
            margin: 0;
            width: 100%;
            margin: 0;
        }


    }

    .slick-slider {
        width: 100%;

        // &.vertical {
        //     @media #{$minMed} {
        //         //    width: 90% !important;
        //     }
        .slick-slide {
            padding: 0 2px;
            // box-sizing: border-box;

            // &[data-slick-index='0'] {
            //     padding-left: 0px;

            // }

            @media #{$minMed} {
                padding: 0;
            }

        }

        .slider-item {
            width: 100%;
            height: 40px;
            padding: 12px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: $mainFColor;

            @media #{$minMed} {
                width: 90%;
                height: 104px;
                padding: 2em 1em;
                justify-content: space-between;
                font-size: 20px;
                font-weight: 600;

                //@include flexCenter;



            }




            cursor: pointer;
            transition: all .3s ease-in-out;

            .deg {
                font-weight: normal;
            }

            .selected-container {
                border-radius: 50%;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;

            }

            &:hover {


                box-shadow: -1px -1px 14px 1px rgba(0, 0, 0, 0.2);

                @media #{$minMed} {
                    width: 100%;
                    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);


                }

            }

            &.select {
                box-shadow: -1px -1px 14px 1px rgba(0, 0, 0, 0.2);

                @media #{$minMed} {
                    width: 100%;
                    // box-shadow: 0 -12px 68px 0 rgba(96, 42, 34, 0.44);
                    box-shadow: 10px 9px 27px 1px rgba(0, 0, 0, 0.28);

                }

                .selected-container {
                    opacity: 1;
                    visibility: visible;

                }

            }


            &.latte-img {
                position: relative;
                padding: 0;
                object-fit: contain;
                // height: 40px;

                @media #{$minMed} {

                    height: 104px;

                }

                // width: 90%;

                img {
                    height: 100%;
                    min-width: 100%;
                }

                .latte-desc {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media #{$minMed} {
                        justify-content: space-between;

                    }

                    @extend %px;
                }
            }


        }
    }
}


%px {
    padding-left: 1em;
    padding-right: 1em;
}

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    //align-items: center;

}