html {
    body {
        font-family: 'Eina 03';

        iframe {
            border: 0;
            width: 100%;
        }


    }
}

section {
    padding: 60px 0; //related details sec
    border-bottom: 1px solid rgba($mainBColor, .1);

    .title {
        font-size: 32px;
        line-height: 1.75;
        margin-bottom: .7em;
        font-family: Cochin;
        font-weight: bold;
        margin-bottom: 16px;

        @media #{$minMed} {
            font-size: 48px;
            line-height: 1.17;
            margin-bottom: 26px;

            &.related {
                margin-bottom: 40px;

            }
        }


    }

    @media #{$minMed} {
        border-bottom: 0;
        border-top: 1px solid rgba($mainBColor, .1);
        padding: 84px 0 77px 0;


    }







}

.social-list {
    .item {
        cursor: pointer;

        img {
            // background-color: transparent;

            &:hover {
                box-shadow: 2px 2px 15px rgba($subFColor, .5);
            }

        }


    }
}


.slick-slider {
    &.daynamic-content {
        .slick-track {
            display: flex;

            .card-wrapper {
                height: inherit;
                margin: 0 0 0 10px;

                //large
                @media #{$minMed} {
                    margin: 0 15px 0 0;


                }

                &:focus {
                    outline: none;
                }
            }

        }
    }

    .card {
        // min-height: 468px;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;

        border-radius: 0px;
        border: 1px solid rgba($subGColor, 1); //same

        /* border-radius: .25rem;*/
        @media #{$minMed} {
            padding-left: 1em;
            padding-right: 1em;


        }

        transition: all .5s ease-in-out;


        .cart {
            position: absolute;
            border-radius: 50%;
            border: 1px solid rgba($mainBColor, 1);
            top: 8px;
            right: 8px;
            padding: .75em;
            cursor: pointer;
            transition: all .3s ease-in-out;


            &:hover {
                box-shadow: 1px 2px 15px rgba($mainBColor, .2);
                background-color: rgba($mainBColor, .8);

            }
        }

        transform: scale(1, .95);

        &:hover {
            box-shadow: 1px 2px 15px 8px rgba($mainBColor, .02);
            transform: scale(1, 1);
        }


        .img-container {
            // margin-top: 8px; //??
            display: block; //same
            margin: 8px auto 0; //same

            img {
                max-height: 100%; //glopal
                height: 100%; //glopal

            }
        }

        .card-body {
            padding: .75rem 0 1rem; //update bootstrap
            border-bottom: 1px solid rgba($mainBColor, .1); //same
            display: flex;
            justify-content: center;
            align-items: center;

            .card-title {
                //all same
                color: $mainBColor;
                font-weight: 600;
                line-height: 1.5;
                letter-spacing: 0.23px;
                word-wrap: break-word;
                font-size: 12px;

                @media #{$minMed} {
                    font-size: 16px;

                    letter-spacing: 0.3px;

                }

                &:hover {
                    color: $subFColor;
                }


            }

        }

        .card-footer {
            //same
            background-color: $mainFColor;
            padding: 11px 0 11px 0;
            text-align: center;

            @media #{$minMed} {

                padding: 15px 0 33px 0;
            }

            .type {
                font-size: 11px;
                line-height: 1.18;
                letter-spacing: 0.37px;
                margin-bottom: 16px;
                height: 30px;

                @media #{$minMed} {
                    font-size: 12px;
                    line-height: 2;
                    letter-spacing: 0.4px;
                    margin-bottom: 36px;

                }


            }

            .desc {
                font-size: 14px;
                font-weight: bold;
                line-height: .64;
                letter-spacing: 0.5px;
                justify-content: center;


                @media #{$minMed} {
                    line-height: 1.14;

                }
            }
        }
    }
}

.s-border {
    border-bottom: 1px solid rgba($mainBColor, .1);

    @media #{$minMed} {
        border-bottom: 0;

    }
}