.product-details {

    background-image: url('../imgs/product-details-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;

    @media #{$minMed} {}



    .name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 1.5;

        @media #{$minMed} {
            font-size: 22px;
            line-height: normal;
            margin-bottom: 6px;

        }
    }

    .desc {
        line-height: 1.75;
        width: 100%;


        @media #{$minMed} {
            text-align: left;

            width: 80%;
        }

    }


}